.cont-total{
    padding: 5%;
}

#analisis-datatable th { font-size: 11px; }
#analisis-datatable td { font-size: 11px; }

#venc-datatable th { font-size: 11px; }
#venc-datatable td { font-size: 11px; }